*.pb
*.index
*.data-*
*.idx3-ubyte
*.idx1-ubyte
tensorboard*
*_LLAPI.py
*_backup.py
# -- win
*.lib
*.dll
*.obj
*.pdb
*.sdf
*.suo
*.opensdf
*.opendb
*.VC.db
*.user
*.exe
x64/Debug/
x64/Develop/
x64/Release/
x86/Debug/
x86/Develop/
x86/Release/
windows/Debug/
windows/Release/
Win32/Debug/
Win32/Release/
.vs
# -- macos
.DS_Store
xcuserdata
*.air
*.metal
*.metallib
*.metal-ar
# -- common
*.a
*.o
*_x64_Debug
*_x64_Release
.hg
__pycache__
*.orig
*.swp
*.swo
*.log
*.tmp
*.temp.log
# -- android
*.iml
.gradle
local.properties
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/assetWizardSettings.xml
build
captures
.externalNativeBuild
app/build
